/workspace/Legal_Specific_KoLLM/cached_data/*
/workspace/Legal_Specific_KoLLM/checkpoints/*
/workspace/Legal_Specific_KoLLM/dataset/*
/workspace/Legal_Specific_KoLLM/logs/*
/workspace/Legal_Specific_KoLLM/outputs/*